[Unit]
Description=onvif video stream
After=network.target local-fs.target remote-fs.target

[Service]
User=hellmann
RuntimeDirectory=onvif
LogsDirectory=onvif
StateDirectory=onvif
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/onvif
Restart=on-abort

[Install]
WantedBy=multi-user.target
